
# URL rewriting module activation
RewriteEngine on

# Catch 404 errors
ErrorDocument 404 /404.php

# MAINTENANCE-PAGE REDIRECT
<IfModule mod_rewrite.c>
 RewriteEngine on
# RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
# RewriteCond %{REQUEST_URI} !/maintenance.html$ [NC]
# RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
# RewriteRule .* /maintenance.html [R=302,L]

 RewriteCond %{REQUEST_URI} /maintenance.html$ [NC]
 RewriteRule .* / [R=301,L]
</IfModule>
