/* $Rev: 198 $ | $LastChangedBy: brieb $ */
/* $LastChangedDate: 2007-03-08 15:02:42 -0700 (Thu, 08 Mar 2007) $ */

#topButtons{float:right;width:180px;}
#h1Title{margin-right:190px;}
#id{width:90%}

#rightsideDiv{
    clear:both;
    float:right;
    width:270px;
    margin:0;
    padding:0;
}

#leftDiv{margin-right:210px;}
#webdescription, #meta_description{
    width:98%
}

#webDescPreview{
    margin:0px;
    border:1px solid #CCCCCC;
    background-color:white;
    padding:2px;
    height:115px;
    overflow:auto;
    width:98%
}

#buttonWebPreview{
    width:75px;
    margin-top:2px;
}
